$grey1:#5A5656;
$grey2: rgb(252, 248, 248);
$grey3: #c9c9c9;
$rose: #FDA0EE;

.approach-main>h3, .approach-show>h3 {
  font-family: 'Parisienne', cursive;
  font-weight:normal;
  text-align:center;
  font-size:25px;
  margin-bottom:30px;
}
.approach-main>div {
  display:grid;
  grid-template-columns:1fr 1fr;
  justify-items:center;
}
.approachSvg>path, .approachSvg>g>path {
  transition:0.5s;
}
.icon-text {
  text-align:center;
  font-family:'Roboto Mono', sans-serif;
  color: $grey1;
  transition:0.5s;
}

.approach-show-container {
  display:grid;
  grid-template-columns: 1fr 40px;
  grid-column-gap:20px;
  grid-row-gap:20px;
  justify-items:center;
  align-items:start;
}
.approach-show-container>button {
  width:40px;
  height:40px;
}
.return-link {
  display:block;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  transition:0.5s;
  color:$grey1;
  margin-top:20px;
  text-transform:uppercase;
  font-family:'Roboto Mono', sans-serif;
}
.return-link:hover {
  color:$rose;
  transform:scale(1.2);
}
.approach-preview {
  background-image:url('../img/pin.svg');
  background-repeat:no-repeat;
  background-position:center center;
  background-color:transparent;
  border:0;
  transition:0.5s;
  background-size: 40px 40px;
}
.approach-preview:hover {
  background-image:url('../img/pin-hover.svg');
  transform:scale(1.3);
}
.approach-preview:focus {
  background-image:url('../img/pin-hover.svg');
  outline:0;
}
