$grey1:#5A5656;
$grey2: rgb(252, 248, 248);
$grey3: #c9c9c9;
$rose2: rgb(252, 229, 248);

.error-prompt {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
    background-color:$grey2;
    opacity:0.9;
    border:1px solid $grey3;
    border-radius:3px;

    padding:10px 20px 10px 20px;;
}