.approach {
  border: 0;
  background-color: transparent;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-size: 20px 25px;
  background-position: left center;
  font-family: 'Parisienne', cursive;
  font-size: 20px;
  color: #828282;
  display: flex;
  align-items: center;
  margin: 30px auto 30px auto;
  padding-left: 25px;
  transition: 0.2s;
}

@media (min-width: 600px) {
  .approach {
    background-size: 40px 50px;
    padding-left: 50px;
    font-size: 40px;
  }
}

.approach div {
  width: 20px;
  height: 25px;
  margin-right: 5px;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: left center;
  transition: 0.3s;
}

.approach:hover {
  color: #FDA0EE;
  background-image: url("../img/pin-hover.svg");
}

.approach:focus {
  outline: none;
  color: #FDA0EE;
  background-image: url("../img/pin-hover.svg");
}
