$background:#F7F8FA;
$grey1:#5A5656;
$grey2: #DDDDDD;
$grey3: #828282;
$rose: #FDA0EE;
.approach {
    border:0;

    background-color:transparent;
    background-image:url('../img/pin.svg');
    background-repeat:no-repeat;
    background-size: 20px 25px;
    background-position:left center;


    font-family:'Parisienne', cursive;
    font-size: 20px;
    color:$grey3;

    display:flex;
    align-items:center;

    margin: 20px 20px;
    padding-left:25px;

    transition: 0.2s;

    @media(min-width:600px) {
        background-size:40px 50px;
        padding-left:50px;
        font-size:40px;
    }
}
.approach div {
    width:20px;
    height:25px;

    margin-right: 5px;
    background-image:url('../img/pin.svg');
    background-repeat:no-repeat;
    background-position:left center;
    transition: 0.3s;
}
.approach:hover {
    color:$rose;
    background-image:url('../img/pin-hover.svg');
}
.approach:focus {
    outline:none;
    color:$rose;
    background-image:url('../img/pin-hover.svg');
}